.context-section {
  border-radius: 4px;
}

.context-section-expander {
  width: 20px;
  background-color: #e5e5e5;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 1px #888888;
  cursor: pointer;
}

.context-section-text {
  overflow-y: hidden;
}

.expander-bottom {
  margin-top: 5px;
}

.expander-top {
  margin-bottom: 5px;
}

.context-section-expander:before {
  content: '+';
  color: blue;
}
