
body {
  background-color: #e5e5e5;
  margin: 40px 0 0 0;
}

#search-bar-container {
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
}

#search-bar {
  background-color: lightgray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 5px 2px 5px;
  box-shadow: 2px 2px 1px #888888;
  width: 330;
}

#search-bar-book-select {
  max-width: 150px
}

#search-bar-word-input {
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 4px;
}

.titleboard {
  width: 600px;
  padding: 5px 5px 5px 5px;
  text-align: center;
  background-color: white;
  margin: 20px auto 20px auto;
  box-shadow: 1px 1px 1px #888888;
}

.context-section {
  background-color: white;
  margin: 20px auto 20px auto;
  padding: 4px 5px 7px 5px;
  box-shadow: 2px 2px 1px #888888;
  max-width: 750px;
}

.context-section-expander {
  width: 20px;
  background-color: #e5e5e5;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 1px #888888;
  cursor: pointer;
}

.context-section-text {
  overflow-y: hidden;
}

.expander-bottom {
  margin-top: 5px;
}

.expander-top {
  margin-bottom: 5px;
}

.context-section-expander:before {
  content: '+';
  color: blue;
}

.keyword {
  color: blue;
  font-weight: bold;
}

.hoverable {
  color: firebrick;
}

.hovercard {
  position: fixed;
  background-color: white;
  color: black;
  box-shadow: 1px 1px 1px #888888;
  font-size: 14px;
}

.menu-item {
  background-color: #e5e5e5;
  border: 2px solid gray;
  padding: 1px 2px 1px 2px;
}

.menu-item:hover {
  background-color: lightgoldenrodyellow;
}

a {
  color: blue;
}


.word-count-container {
  background-color: white;
  max-width: 750px;
  margin: 40px auto 40px auto;
  padding: 5px 5px 5px 5px;
  box-shadow: 1px 1px 1px #888888;
}

.word-count-bar {
  display: inline-block;
  background-color: lightblue;
  margin: 0px 0 3px 0;
  box-shadow: 1px 1px 1px #888888;
  position: relative;
}

.word-count-word {
  margin-left: 3px;
  color: darkblue;
  display: inline-block;
}

.word-count-count {
  position: absolute;
  right: 0px;
  margin: 1px 0px 1px 0px;
}

.word-count-ruler {
  position: absolute;
  width: 715px;
  height: 1px;
  background-color: #e5e5e5;
  top: 10px
}

.word-count-boundry {
  position: relative;
}
