{namespace common.templates}


/**
 * @param contents Contents of the titleboard.
 */
{template .titleboard}
  <div class="titleboard">
    <div class="titleboard-text">
      {$contents |noAutoescape}
    </div>
  </div>
{/template}
