{namespace menu.templates}

/**
 * @param options Menu options.
 */
{template .main}
  <div>
    {foreach $option in $options}
      <div class="menu-item" data-index="{index($option)}">
        {$options[0].text}
      </div>
    {/foreach}
  </div>
{/template}
