{namespace searchbar.templates}

/** */
{template .main}
  <div id="search-bar">
    <input  id="search-bar-book-input" type='text'></input>
    <input  id="search-bar-word-input" type='text'></input>
    <button id="search-bar-button">Search</button>
  </div>
{/template}
