RewriteEngine on
RewriteBase /
RewriteRule ^wordcounts$ word_counts_page.py [QSA,L]
RewriteRule ^$ search?bookId=2&word=windmills [R]
RewriteRule ^search$ list_page.py [L]

RewriteCond   %{REQUEST_URI}   !.*soy\.js
RewriteCond   %{REQUEST_URI}   !/client/*
RewriteRule ^(.*\.(js|css))$ /client/$1 [L]

RewriteCond   %{REQUEST_URI}   !/client/soy/gen/*
RewriteRule ^(.*\.soy)$ /client/soy/gen/$1.js [L]

RewriteRule ^/?([^\.]*)/([^\.]*)$ $1.py?action=$2 [QSA,L]

RewriteRule ^([^\.]*)$ $1.py

