body {
  background-color: #e5e5e5;
  margin: 0 0 0 0;
  overflow-x: hidden;
}

input[type="text"] {
  border: 1px solid #888888;
  height: 15px;
}

.keyword {
  color: #2222D2;
  font-weight: bold;
}

.book-title {
  color: #B22222;
}


.hoverable {
  color: #B22222;
}

.card {
  background-color: white;
  margin: 20px auto 20px auto;
  padding: 4px 5px 7px 5px;
  box-shadow: 1px 1px 1px #888888;
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  max-width: 750px;
}

.hovercard {
  position: fixed;
  background-color: white;
  color: black;
  box-shadow: 1px 1px 1px #888888;
  font-size: 14px;
  z-index: 200;
  border: 1px solid #808080;
}

.menu-item {
  background-color: white;
  border: 1px solid #808080;
  padding: 1px 2px 1px 2px;
}

.menu-item:hover {
  background-color: #FAFAD2;
}

.menu-item-highlight {
  background-color: #F0F0b2 !important;
}

.highlight-char {
  color: magenta;
  font-weight: bold;
}

.titleboard {
  width: 600px;
  padding: 5px 5px 5px 5px;
  text-align: center;
  margin: 0px auto 0px auto;
}
