#search-bar-container {
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 100;
}

#search-bar {
  background-color: #D3D3D3;
  border: 1px solid #808080;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 5px 2px 5px;
  width: 500px;
  border-radius: 25px;
}

#search-bar-book {
  width: 200px;
  vertical-align: middle;
}

#search-bar-selected-books {
  display: inline-block;
  font-size: 80%;
}


.search-bar-selected-block {
  display: inline-block;
  border: 1px solid rgb(160, 0, 147);
  background-color: rgb(255, 184, 255);
  margin-left: 1px;
  padding: 1px;
}

#search-bar-book-input {
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 4px;
  display: inline-block;
}

#search-bar-word-input {
  width: 150px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 4px;
  vertical-align: middle;
}

#search-bar-button {
  vertical-align: middle;
}
